.sidenav {
    background-color: rgba(15, 40, 94, 0.966);
    width: 200px;
}

.sidenav a {
    color: #ffffff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #ffffff;
}