<mat-card>
    <mat-card-title>Excluir Usuário?</mat-card-title>
    <form>
        <mat-form-field>
            <input disabled matInput placeholder="Nome" [value]="user.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Sobrenome" [value]="user.lastname" name="lastname">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="E-mail" [value]="user.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Data de Nascimento" [(ngModel)]="user.birthdate" name="birthdate" [matDatepicker]="birthdate">
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Escolaridade</mat-label>
            <mat-select disabled [(ngModel)]="user.schooling" name="schooling">
                <mat-option *ngFor="let x of schoolings" [value]="x.value">
                    {{x.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteUser()" color="warn">
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>