<mat-card>
    <mat-card-title>Novo Usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input required matInput placeholder="Nome" [(ngModel)]="user.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input required matInput placeholder="Sobrenome" [(ngModel)]="user.lastname" name="lastname">
        </mat-form-field>
        
        

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input required matInput placeholder="E-mail" [(ngModel)]="user.email" name="email"
                [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint></mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Digite um e-mail válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                O e-mail é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input required matInput placeholder="Data de Nascimento" [(ngModel)]="user.birthdate" name="birthdate"
                [matDatepicker]="birthdate">
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Escolaridade</mat-label>
            <mat-select [(ngModel)]="user.schooling" name="schooling">
                <mat-option *ngFor="let x of schoolings" [value]="x.value">
                    {{x.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createUser()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>